//- {
      name:
      likes:
      photo:
      activity:
      text:
//- }
include ../like-button/like-button.pug

mixin feedback(arg)
   .feedback
      .feedback__profile-wrapper
         img.feedback__photo(src="./img/feedback__image.png", alt="")
         +like-button({count: arg.likes, clicked: true})
      .feedback__text-wrapper
         h4.feedback__name= arg.name
         p.feedback__activity= arg.activity
         p.feedback__text= arg.text