//- include ../../../../includes/components/global/logo/logo.pug
include ../../../../includes/components/dropdown/dropdown.pug
include ../../../../includes/components/text-field/text-field.pug
include ../../../../includes/components/checkbox-list/checkbox-list.pug
include ../../../../includes/components/bullet-list/bullet-list.pug
include ../../../../includes/components/subscription-text-field/subscription-text-field.pug
include ../../../../includes/components/radio-buttons/radio-buttons.pug
include ../../../../includes/components/toggle/toggle.pug
include ../../../../includes/components/like-button/like-button.pug
include ../../../../includes/components/rate-button/rate-button.pug
include ../../../../includes/components/range-slider/range-slider.pug
include ../../../../includes/components/button/button.pug
include ../../../../includes/components/pagination/pagination.pug
include ../../../../includes/components/icon-text-list/icon-text-list.pug
include ../../../../includes/components/feedback/feedback.pug
include ../../../../includes/components/date-dropdown/date-dropdown.pug

.form-elements-wrapper
   .form-elements-wrapper__inputs-wrapper
      +text-field({title: "text field", text: "Email", status: "default"})
      +text-field({title: "text field", text: "This is pretty awesome", status: "hover / focus", mod: "focused"})
      +dropdown({title: "dropdown", text: "Сколько гостей", status: "default", type: "people"})
      +text-field({title: "masked text field", text: "ДД.ММ.ГГГГ", status: "default", mod: "focused", mask: true})
      +dropdown({title: "dropdown", status: "default", type: "accommodation"})
      +checkbox-list({type: "expandable", title: "expandable checkbox list", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], checked: [2, 3, 4], expanded: true})
      +checkbox-list({type: "buttons", title: "checkbox button", items: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], checked: [2, 3]})
      +checkbox-list({type: "rich", title: "rich checkbox button", items: ["Широкий коридор", "Помошник для инвалидов"], subtitles: ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист и проводит до номера."]})
      +bullet-list({title: "bullet-list", items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
      +subscription-text-field({title: "subscription text field"})
      +radio-buttons({title: "radio buttons", items: ["Мужчина", "Женщина"]})
      +toggle({title: "toggle", items: ["Получать спецпредложения", "Получать спецпредложения"], checked: [1]})
      .like-button-wrapper
         .like-button-wrapper__title= "like button"
         .like-button-wrapper__buttons
            +like-button({count: 2})
            +like-button({count: 12, clicked: true})
      .rate-button-wrapper
         .rate-button-wrapper__title= "rate button"
         .rate-button-wrapper__buttons
            +rate-button({rating: 4})
            +rate-button({rating: 5})
      +range-slider({title: "range slider"})

      .button-wrapper
         .button-wrapper__title= "buttons"
         +button({text: "click me", type: "default"})
         +button({text: "click me", type: "default", status: "hovering"})
         +button({text: "click me", type: "bordered"})
         +button({text: "click me", type: "bordered", status: "hovering"})
         +button({text: "click me", type: "link"})
         +button({text: "click me", type: "link", status: "hovering"})
         +button({text: "Перейти к оплате", type: "large"})

      .pagination-wrapper
         .pagination-wrapper__title= "pagination"
         +pagination({count: 15})

      +icon-text-list({logoType: "comfort", title: "Комфорт", text: "Шумопоглощающие стены"})
      +icon-text-list({logoType: "convenience", title: "Удобство", text: "Окно в каждой из спален"})
      //- +icon-text-list({logoType: "cosiness", title: "Уют", text: "Номер оснащен камином"})
      
      +feedback({name: "Мурад Сарафанов", likes: 12, text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", photo: "feedback__image", activity: "5 дней назад"})

      +date-dropdown()
      +date-dropdown()


