.icon-text-list {
   display: flex;
   flex-direction: column;
   width: 280px;
   &__set-wrapper {
      display: flex;
      flex-direction: row;
   }
   &__text-wrapper {
      display: flex;
      flex-direction: column;
   }
   &__title {
      @extend %font-body;
      font-weight: bold;
   }
   &__text {
      @extend %font-body;
   }
   &__icon {
      width: 48px;
      height: 48px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   &__underline {
      width: 280px;
      height: 1px;
      background: rgba(31, 32, 65, 0.1);
      margin-top: 20px;
   }
}