include ../../../../includes/components/find-form/find-form.pug
include ../../../../includes/components/calc-form/calc-form.pug

.cards-wrapper
  +find-form({title: "Найдём номера под ваши пожелания"})
  +calc-form({})