
// Медиа-запросы
@media screen and (max-width: 767px) {
  .landing-page__content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
@media screen and (max-width: 380px) {
  .landing-page__find-form-wrapper {
    width: 100%;
  }
}


// Локальные стили
.landing-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__inner {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
  &__img {
    z-index: -1;
    width: 100%;
    height: 830px;
    object-fit: cover;
    user-select: none;
    position: absolute;
  }
  &__content {
    display: flex;
    width: 120rem;
    height: 83rem;
    margin: 0 2rem;
  }
  &__find-form-wrapper {
    position: absolute;
    top: 140px;
    height: 100%;
  }
  &__text {
    @extend %font-body;
    margin: 764px 0px auto auto;
    text-align: right;
    z-index: 1;
    width: 29.8rem;
    height: 4.8rem;
  }
}