// Медиа запросы
@media screen and (max-width: 1080px) {
  div.room-page {
    &__content {
      flex-direction: column;
    }
    &__sector-cont {
      &_left {
        width: 100%;
        order: 1;
      }
      &_right {
        justify-content: center;
        width: 100%;
        order: 0;
        margin-bottom: 50px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  main.room-page {
    &__main {
      margin-top: 50px;
    }
  }
  div.room-page {
    &__sector-cont {
      &_left {
        flex-direction: column;
        & > div:last-child {
          flex-direction: column;
          align-items: center;
          & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            width: 70%;
          }
          & h2, span, p {
            text-align: center;
          }
        }
        & > div:first-child {
          flex-direction: column;
          align-items: center;
          & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            width: 70%;
          }
          & h2 {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  div.room-page {
    &__content {
      margin: 0 0;
    }
    &__sector-cont {
      &_left {
        padding: 0 20px;
      }
    }
  }
  h2.room-page {
    &__title {
      &_double:after {
        content: "2 отзыва";
        position: absolute;
        font-size: 10px;
        margin-top: 20px;
        left: 20px;
      }
    }
  }
  div.room-page {
    &__images-wrapper {
      height: 300px;
    }
    &__sector {
      display: none;
    }
    &__common-sector {
      display: block;
      height: 300px;
      width: 100%;
    }
  }
  div.room-page__selection {
    display: flex;
  }
}



// Локальные стили
.room-page {
  background-color: #fff;
  height: 100%;
  &__main {
    border-bottom: 1px solid $dh25;
    margin-top: 70px;
    min-height: 100vh;
  }
  &__images-wrapper {
    position: relative;
    height: 485px;
    display: flex;
    flex-direction: row;
  }
  &__sector-img {
    height: 100%;
    &_first {
      width: 66.666%;
    }
    &_second {
      width: 33.333%;
    }
  }
  &__image {
    object-fit: cover;
    user-select: none;
    width: 100%;
    &_big {
      height: 100%;
    }
    &_small {
      height: 50%;
    }
    &_sliding {
      display: none;
      position: absolute;
    }
    &_current {
      display: block;
    }
  }
  &__common-sector {
    display: none;
    position: relative;
    & > img {
      height: 300px;
    }
  }
  &__selection {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  &__wrapper-bg-arrow {
    width: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    &_left {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      border-radius: 4px 0 0 0;
    }
    &_right {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      border-radius: 4px 0 0 0;
    }
  }
  &__arrow {
    width: 100%;
  }
  
  
  &__content-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  &__content {
    margin: 0 20px;
    width: 1200px;
    padding: 70px 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  &__sector-cont {
    display: flex;
    &_left {
      flex-direction: column;
      width: 66.666%;
      justify-content: flex-start;
      margin-right: 40px;
    }
    &_right {
      width: 33.333%;
      justify-content: flex-end;
    }
  }

  &__blocks-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    &_non-row {
      flex-direction: column;
      & > div:nth-child(n) {
        margin-bottom: 20px;
      }
      & > div:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &__block {
    width: 50%;
  }
  &__title {
    @extend %font-h2;
    margin-bottom: 20px;
    &_double:after {
      content: "2 отзыва";
      @extend %font-body;
      float: right;
    }
  }
  &__text {
    @extend %font-body;
    max-width: 350px;
  }
}