.rate-button {
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 60%;
   max-width: 12rem;
   &__star {
      display: inline-flex;
      margin: .2rem;
   }
}