include ../../../../includes/components/header/header.pug
include ../../../../includes/components/footer/footer.pug

.headers-and-footers-wrapper
  //- +header({hrefs: ["#", "#", "#", "#", "#", "#", "#"]})
  //- +header({hrefs: ["#", "#", "#", "#", "#", "#", "#"], login: "#"})
  +footer({})
