.calc-form {
  display: grid;
  grid-template-columns: minmax(320px, 380px);
  max-height: 512px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 0 30px 0;
  }
  &__top {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  &__number {
    @extend %font-h1;
    margin: 0;
    &:before {
      content: '№ ';
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
  &__type-of-number {
    @extend %font-h3;
    line-height: 2rem;
    margin: 0;
    padding-left: 0.5rem;
    color: $purple;
  }
  &__price {
    @extend %font-body;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0 0 0 auto;
    color: $dh50;
    &:after {
      content: "₽ ";
    }
  }
  &__price-per {
    @extend %font-body;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: normal;
  }
  &__main {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__calculating {
    padding: 2rem 0 2rem 0;
  }
  &__string-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__calc-string {
    @extend %font-body;
    width: 21.4rem;
    line-height: 1.8rem;
  }
  &__info {
    @extend %font-body;
    position: absolute;
    left: 22rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $dh25;
    padding-left: 0.7rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    line-height: 2rem;
    border: 1px solid $dh25;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__total {
    @extend %font-body;
    &:after {
      content: '₽';
    }
  }
  &__sum-wrapper {
    width: 32rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  &__to-sum {
    @extend %font-h2;
  }
  &__points {
    width: 24rem;
    height: 0rem;
    border: 1px dashed rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
  }
  &__result {
    @extend %font-h2;
    &:after {
      content: '₽';
    }
  }
}