//- {
//-   type: double?
//- }


mixin date-dropdown(arg)
   .date-dropdown
      - if (arg.type == 'double') {
      .date-dropdown__left
         label.date-dropdown__label= "Прибытие"
            br
            input.date-dropdown__input(placeholder="ДД.ММ.ГГГГ" type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" readonly)
            svg.date-dropdown__arrow(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
               <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/>
      .date-dropdown__right
         label.date-dropdown__label= "Выезд"
            br
            input.date-dropdown__input(placeholder="ДД.ММ.ГГГГ" readonly)
            svg.date-dropdown__arrow(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
               <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/>
      - } else {
         date-dropdown__main
            label.date-dropdown__label= "Даты пребывания в отеле"
               br
               input.date-dropdown__input.date-dropdown__input_single(placeholder="ДД ммм - ДД ммм" type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" readonly)
               svg.date-dropdown__arrow(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                  <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/>
      - }
