// Ярлыки цветов
include ../../../../includes/components/color-label/color-label.pug

.colors
   +color-label("dh100", "Dark Shade 100%", "#1F2041")
   +color-label("dh75", "Dark Shade 75%", "#1F2041")
   +color-label("dh50", "Dark Shade 50%", "#1F2041")
   +color-label("dh25", "Dark Shade 25%", "#1F2041")
   +color-label("dh5", "Dark Shade 5%", "#1F2041")
   +color-label("purple", "Purple", "#BC9CFF")
   +color-label("green", "Green", "#6FCF97")