.checkbox-list {
   width: 266px;
}
.checkbox-list__arrow {
   margin-top: 4px;
   width: 44px;
}
.checkbox-list__arrow>path {
   fill: $dh50 !important;
}
.checkbox-list__btn.checkbox-list__btn_clicked>.checkbox-list__arrow>path {
   fill: $dh75 !important;
}

.checkbox-list__btn {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 266px;
   background-color: #fff;
   &.checkbox-list__btn_clicked>.checkbox-list__arrow {
      transition: transform .3s;
      transform: rotate(180deg);
   }
   &.checkbox-list__btn_default>.checkbox-list__arrow {
      transition: transform .3s;
      transform: rotate(0deg);
   }
}

.checkbox-list__title {
   @extend %font-h3;
}


// Стили вложенных элементов
.checkbox-list__items {
   width: 266px;
   padding-top: 7px;
   display: block;
   flex-direction: column;
   @extend %font-body;
}
.checkbox-list__btn.checkbox-list__btn_clicked + .checkbox-list__items {
   display: block;
}
.checkbox-list__btn.checkbox-list__btn_default + .checkbox-list__items {
   display: none;
}

.checkbox-list__checkbox-wrapper {
   display: flex;
   flex-direction: column;
   padding-top: 10px;
}
.checkbox-list__checkbox-label {
   display: flex;
   flex-direction: row;
   line-height: 19px;
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   &_bold {
      font-weight: bold;
   }
}
.checkbox-list__checkbox {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.checkbox-list__checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   border-radius: 4px;
   border: 1px solid $dh25;
}
.checkbox-list__checkbox-subtitle {
   @extend %font-body;
   font-size: 12px;
   line-height: 14px;
   padding-left: 30px;
   padding-top: 5px;
}


.checkbox-list__checkbox-label:hover input ~ .checkbox-list__checkmark {
   border: 1px solid $purple;
}
.checkbox-list__checkbox-label input:checked ~ .checkbox-list__checkmark {
   border: 1px solid $purple;
}
.checkbox-list__checkmark::after {
   content: "";
   position: absolute;
   display: inline-block;
   top: 0px;
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   flex-grow: 0;
   opacity: 0;
}
.checkbox-list__checkbox-label input:checked ~ .checkbox-list__checkmark::after {
   opacity: 1;
   background: url('./checkbox-list.svg');
   background-repeat: no-repeat;
   background-position: 4px 3px;
   background-size: 50% 50%;
}