// Ярлыки цветов
include ../../../../includes/components/color-label/color-label.pug

.colors
   +color-label({color: "dh100", text: "Dark Shade 100%", code_color: "#1F2041"})
   +color-label({color: "dh75", text: "Dark Shade 75%", code_color: "#1F2041"})
   +color-label({color: "dh50", text: "Dark Shade 50%", code_color: "#1F2041"})
   +color-label({color: "dh25", text: "Dark Shade 25%", code_color: "#1F2041"})
   +color-label({color: "dh5", text: "Dark Shade 5%", code_color: "#1F2041"})
   +color-label({color: "purple", text: "Purple", code_color: "#BC9CFF"})
   +color-label({color: "green", text: "Green", code_color: "#6FCF97"})