//- {
//-    text:
//-    type: default/bordered/link/large
//-    status: hover
//- }

mixin button(arg)
   .button
      case arg.type
         when "bordered"
            button.button__bg.button__bg_default
               .button__inner-bg-wrapper
                  .button__inner-bg
                     .button__text.button__text_purple-lh40= arg.text
         when "link"
            button.button__link
               .button__text.button__text_purple-lh15= arg.text
         default
            button.button__bg.button__bg_default
               .button__text= arg.text

