.button {
   position: relative;
   display: flex;
   flex-direction: row;
   &__bg {
      min-width: 99px;
      min-height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &_default {
         background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
         border-radius: 22px;
      }
      &:hover {
         background: linear-gradient(180deg, rgba(189, 158, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
      }
      // Принудительно
      &_hovering {
         background: linear-gradient(180deg, rgba(189, 158, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
         border-radius: 22px;
      }
      &_large {
         background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
         border-radius: 22px;
         min-width: 320px;
      }
   }
   &__inner-bg-wrapper {
      width: 95px;
      height: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   &__inner-bg {
      display: flex;
      justify-content: space-around;
      height: 40px;
      width: 95px;
      background-color: #ffffff;
      border-radius: 20px;
   }
   &__text {
      @extend %font-h3;
      line-height: 44px;
      color: #fff;
      &_purple-lh40 {
         color: $purple;
         line-height: 40px;
      }
      &_purple-lh15 {
         color: $purple;
         line-height: 15px;
         &:hover {
            color: $dh50;
         }
      }
      &_hovering {
         color: $dh50;
         line-height: 15px;
      }
   }

   &__link {
      background-color: #fff;
      min-width: 61px;
   }
   &__arrow {
      position: absolute;
      top: 14px;
      left: 289px;
   }
}