<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title UI Kit 1
   body
      include ./colors-and-type/colors-and-type-wrapper/colors-and-type-wrapper.pug