include ../../../includes/components/global/logo/logo.pug

.form-elements-wrapper
   include ../../../includes/components/text-field/text-field.pug
   +text-field("text field", "email", "default")
   +text-field("text field", "This is pretty awesome", "hover / focus")
