// Ярлыки цветов
include /color-label/color-label.pug

.colors
   +color-label("#1F2041", "Dark Shade 100%")
   +color-label("#1F2041", "Dark Shade 75%")
   +color-label("#1F2041", "Dark Shade 50%")
   +color-label("#1F2041", "Dark Shade 25%")
   +color-label("#1F2041", "Dark Shade 5%")
   +color-label("#BC9CFF", "Purple")
   +color-label("#6FCF97", "Green")