include ../includes/components/header/header.pug
include ../includes/components/footer/footer.pug
include ../includes/components/date-dropdown/date-dropdown.pug
include ../includes/components/dropdown/dropdown.pug
include ../includes/components/range-slider/range-slider.pug
include ../includes/components/checkbox-list/checkbox-list.pug
include ../includes/components/room-card/room-card.pug
include ../includes/components/pagination/pagination.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Filter Page
  body
    .filter-page
      +header({hrefs: ["#", "#", "#", "#", "#", "#", "#"], fixed: true})
      main.filter-page__main
        .filter-page__button-aside
          svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/>
        .filter-page__content
          .filter-page__aside
            .filter-page__aside-inner
              +date-dropdown({type: "standart"})
              +dropdown({title: "Гости", text: "Сколько гостей", type: "people"})
              +range-slider({title: "Диапазон цены", annotation: "Стоимость за сутки пребывания в номере"})
              +checkbox-list({title: "Правила дома", items: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], type: "buttons"})
              +checkbox-list({type: "rich", title: "Доступность", items: ["Широкий коридор", "Помошник для инвалидов"], subtitles: ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист и проводит до номера."]})
              +dropdown({title: "Удобства номера", type: "accommodation"})
              +checkbox-list({type: "expandable", title: "Дополнительные удобства", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], checked: [2, 3, 4], expanded: true})
          .filter-page__results
            h1.filter-page__title= "Номера, которые мы для вас подобрали"
            .filter-page__rooms
              +room-card({number: "888", src: ["888-1.png", "888-2.png", "888-3.png"], class: "ЛЮКС", price: 9990, rating: 5, reviews: 145})
              +room-card({number: "840", src: ["840-1.png"], price: 9900, rating: 4, reviews: 65})
              +room-card({number: "980", src: ["980-1.png"], class: "ЛЮКС", price: 8500, rating: 3, reviews: 35})
              +room-card({number: "856", src: ["856-1.png"], price: 7300, rating: 5, reviews: 19})
              +room-card({number: "740", src: ["740-1.png"], price: 6000, rating: 4, reviews: 44})
              +room-card({number: "982", src: ["982-1.png"], price: 5800, rating: 3, reviews: 56})
              +room-card({number: "678", src: ["678-1.png"], price: 5500, rating: 5, reviews: 45})
              +room-card({number: "450", src: ["450-1.png"], price: 5300, rating: 4, reviews: 39})
              +room-card({number: "350", src: ["350-1.png"], price: 5000, rating: 3, reviews: 77})
              +room-card({number: "666", src: ["666-1.png"], price: 5000, rating: 5, reviews: 25})
              +room-card({number: "444", src: ["444-1.png"], price: 5000, rating: 3, reviews: 15})
              +room-card({number: "352", src: ["352-1.png"], price: 5000, rating: 3, reviews: 55})
            .filter-page__pagination-wrapper
              +pagination({count: 15})

      +footer({})