doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="icon", href="favicon.ico", type="image/ico")
      title Toxin
   body
      .index__wrapper
         h1.index__title UI Kit
         p.index__link
            a(href="colors-and-type.html") colors-and-type
         p.index__link
            a(href="form-elements.html") form-elements
         p.index__link
            a(href="cards.html") cards
         p.index__link
            a(href="headers-and-footers.html") headers-and-footers
         h1.index__title Website pages
         p.index__link
            a(href="landing-page.html") landing