include ../includes/components/header/header.pug
include ../includes/components/footer/footer.pug
include ../includes/components/find-form/find-form.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin
  body
    .landing-page
      +header({hrefs: ["#", "#", "#", "#", "#", "#", "#"], fixed: true})
      main.landing-page__inner
        img(src="./img-for-page-bg/landing-page.png" alt=`Одна из наших спален`).landing-page__img
        .landing-page__content
          .landing-page__find-form-wrapper
            +find-form({title: "Найдём номера под ваши пожелания"})
          .landing-page__text
            p= "Лучшие номера для вашей работы, отдыха и просто вдохновения"
      +footer({})