.title-set {
   display: flex;
   flex-direction: row;
}
.title-set__tag {
   font-family: "Montserrat";
   width: 37px;
   text-align: right;
   color: $dh25;
   margin-right: 30px;
   &_h1 {
      font-size: 24px;
      line-height: 29px;
   }
   &_h2 {
      font-size: 19px;
      line-height: 23px;
   }
   &_h3 {
      font-size: 12px;
      line-height: 15px;
   }
   &_body {
      font-size: 14px;
      line-height: 24px;
   }
}
.title-set__title {
   display: flex;
   width: 336px;
   &_h1 {
      @extend %font-h1;
   }
   &_h2 {
      @extend %font-h2;
   }
   &_h3 {
      @extend %font-h3;
   }
   &_body {
      @extend %font-body;
   }
}
