//- {
//-    tag:
//-    title:
//- }

mixin title-set(arg)
   - var tag_mod = `title-set__tag_${arg["tag"].toLowerCase()}`
   - var title_mod = `title-set__title_${arg["tag"].toLowerCase()}`
   .title-set
      .title-set__tag
         span(class=tag_mod)= arg.tag
      .title-set__title
         span(class=title_mod)= arg.title