.text-field {
   display: flex;
   flex-direction: column;
}
.text-field__label {
   @extend %font-h3;
}
.text-field__label_extra {
   @extend %font-h3;
   color: $dh50;
   font-weight: normal;
}
.text-field__label-wrapper {
   display: flex;
   justify-content: space-between;
   width: 320px;
   padding-bottom: 5px;
}
.text-field__input {
   font-family: "Montserrat";
   font-size: 14px;
   line-height: 18px;
   color: $dh75;
   background: #FFFFFF;
   border: 1px solid $dh25;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 13px 15px;
   height: 44px;
   width: 320px;
}
.text-field__input::placeholder {
   color: $dh25;
}
.text-field__input_focused:hover::placeholder {
   color: $dh75;
}
.text-field__input_focused:focus::placeholder {
   color: $dh75;
}
.text-field__input_focused:focus {
   border: 1px solid $dh50;
}