//- {
//-    title: 
//-    text:
//-    status:
//- }

mixin text-field(arg)
   - var id_label = Math.floor(Math.random() * 10000000)
   .text-field
      if arg.title
         .text-field__wrapper
            label(for=id_label class="text-field__label")= arg.title
            if arg.status
               label(for=id_label class="text-field__label_extra")= arg.status
         br
      input(type="text" id=id_label, placeholder=arg.text class="text-field__input")